* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    color: purple;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;     
    
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type:none ;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
}

.header-right {
    display:flex;
    justify-content: flex-end;

}

li .Login {
    text-align: right;
}


.search-form input[type="text"] {
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.login-signup a {
    text-decoration: none;
    color: purple;
    gap: 100px;
    margin-left: 10px;
}

.login-signup button {
    padding: .5rem .5rem;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 5px;
}

.hero {
    display: flex;
    padding-right   : 12px;
    align-items: center;
    background-color: #f9f9fb;
    color: purple;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.hero h4 {
    margin-bottom: 15px;
    color: purple;
}

.hero h2 {
    margin-bottom: 10px;

}

.hero p {
    font-size: 16px;
    margin-bottom: 2px;
}

.btn-primary {
    padding: 10px 15px;
    background-color: purple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom:20px;
}

.btn-primary:hover {
    background-color: #e64a19;
}


.image-section {
    flex: 1;
    margin-left: 150px;
}

.text-section {
    flex: 1;
    color: black;
    padding-left: 20px;
    text-align: justify;
    margin-right: 50px;
    width: 100px;
    padding-right: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    
}

.logo {
    padding: 20px;
}

.logo-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.logo-section img {
    height: 50px;
    width: 60px; 
}

.logoText {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}
.logo h3 {
    text-align: center;
    margin-bottom: 20px;
}

.logo-section {
    text-align: center; 
}

.logo-section p {
    margin-top: 10px; 
}

.logo-P {
    text-align: center;
    line-height: 1;
    padding-bottom: 20px;

}

.info {
    padding-top: 200px;
    background-image: url(imgs/electricC.jpg); 
    background-size: cover;
    background-attachment: fixed; 
    padding-bottom: 200px;
}

.info-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
}

.info-section img {
    size: 100px;
    margin-right: 10px; 
}

.info-section p {
    text-align: center;
    text-decoration: underline ;
    margin-bottom: 20px; 
    color: purple;
    
}

.info-H1 {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: purple;
    font-weight: 400;
}

.info-P {
    text-align: center;
    line-height: 1;
    padding-left: 200px;
    padding-right:200px;

}

.vid {
    display: flex;
    background-color: #463C89;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top:100px ;
    padding-bottom:100px ;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 

}

.vid img {
    height: 450px;
    margin: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    border-radius: 5px;

}

.features {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.feat-head {
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: #79589F;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 20px;

}


button.learn-more {
    background-color: purple;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 625px;
    margin-bottom: 20px;
}

.learn-more:hover {
    background-color: #e64a19;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-left:170px;
    margin-bottom: 20px;
    color: #79589F;
}

.pers-col li{
    font-size: 14PX;
    padding: 20px;
    width: 400px;
    list-style-image: url(icons/png/bxl-codepen.png);
}

.lawa-col li{

    font-size: 14PX;
    padding: 20px;
    width: 400PX;
    list-style-image: url(icons/png/bxs-planet.png);
}

.tat-col li{

    font-size: 14PX;
    padding: 20px;
    width: 400PX;
    list-style-image: url(icons/png/bxl-unsplash.png);
    
}

.feature-list li p {
    color: black;
}
/* ul.lawa-col {
    list-style-image: url(icons/png/bxl-codepen.png);
} */

.site-footer {
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}

.footer-logo img {
    max-width: 100px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.footer-social img {
    width: 24px;
    margin-right: 10px;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
